body{
font-family:'Poppins',sans-serif;
background:#111;
color:white;
margin:0;
padding:40px;
}

.container{
max-width:900px;
margin:auto;
}

.card{
background:#1e1e1e;
padding:20px;
border-radius:10px;
margin-bottom:20px;
}

button{
padding:10px 20px;
border:none;
background:#25D366;
color:white;
border-radius:8px;
cursor:pointer;
}
